.rw-style, #removeLogo{
 	cursor: pointer !important;
}

/*AUTH LAYOUT CSS*/

.bg-gradient-default {
    //background: linear-gradient(87deg,#172b4d 0,#1a174d 100%)!important;
    background: linear-gradient(150deg,#281483 15%,#8f6ed5 70%,#d782d9 94%);
}
.circle-style{
	width: 120px;
	height: 120px;
	border-radius: 50%;
	position: absolute;
 }

.circle-1-child {
	bottom: auto;
    left: -4%;
    background: rgba(255,255,255,.1);
}

.circle-2-child {
	top: 10%;
	right: 4%;
	background: rgba(255,255,255,.1);
	width: 50px;
    height: 50px;
}

.circle-3-child {
	top: 280px;
    right: 5.66666%;
    background: rgba(255,255,255,.3);
    width: 50px;
    height: 50px;
}  

.circle-4-child {
    top: 320px;
    right: 7%;
    background: rgba(255,255,255,.15);
    width: 75px;
    height: 75px;
}

.circle-5-child {
    top: 38%;
    right: auto;
    left: 1%;
    background: rgba(255,255,255,.05);
    width: 100px;
    height: 100px;
}

.circle-6-child {
    top: 44%;
    right: auto;
    left: 10%;
    width: 200px;
    height: 200px;
    background: rgba(255,255,255,.15);
}

.circle-7-child {
    right: 36%;
    bottom: 50%;
    background: rgba(255,255,255,.04);
    width: 50px;
    height: 50px;
}

.circle-8-child {
	right: 28%;
	bottom: 10px;
	background: rgba(255,255,255,.2);
	width: 100px;
    height: 100px;
}

.circle-9-child{
	right: 2%;
    bottom: 1%;
    background: rgba(255,255,255,.1);
    width: 50px;
    height: 50px;
}

.circle-10-child{
	right: auto;
    bottom: 1%;
    left: 1%;
    background: rgba(255,255,255,.05);
    width: 100px;
    height: 100px;
}

/* User Greeting */
.user-greeting i{
    padding: 0px 5px;
    font-size: 20px;
}

/* Dashboard CSS*/
.col-auto {
    width: auto;
    max-width: none;
    flex: 0 0 auto;
    padding: 0px;
}

.icon-shape {
    display: inline-flex;
    padding: 12px;
    text-align: center;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.icon {
    width: 3rem;
    height: 3rem;
}
.text-white {
    color: #fff !important;
}

.rounded-circle {
    border-radius: 50% !important;
}
.bg-warning {
    background-color: #fb6340 !important;
}   

.icon-shape i, .icon-shape svg {
    font-size: 1.25rem;
}

.bg-green {
    background-color: #2dce89 !important;
}

.bg-danger {
    background-color: #f5365c !important;
}

/*Element Wrapper*/
.element-header{
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
    position: relative;
    z-index: 1;
    font-size: 1.5rem;
}

.element-header:after {
    content: "";
    background-color: #281483;
    width: 22px;
    height: 6px;
    border-radius: 2px;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0px;
} 

.element-box {
    padding: 1.5rem 2rem;
    margin-bottom: 1rem;
    background: #f8f9fa;
}

.form-header {    
    display: block;
    font-weight: bold;   
}

/*ADD NEW BUTTON*/

.btn-add-new {
    position: relative;
    right: 1rem;  
    font-size: 17px; 
    top : 10px;
    border-radius: 15px;
    padding: 0.25rem 1.5rem;
    color: #281483;
    border-color: #281483;
}
    
.btn-add-new:hover, .btn-add-new:active, .btn-add-new:visited {
    background-color: #281483 !important;
}

.help-block{
    color: red !important;
}

.form-buttons{
    float: right !important;
}

/**** TABLES *****/
