.list-group {
  max-height: calc(100vh - 375px);
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.005);
  box-shadow: inset 0 0 .5rem rgba(0, 0, 0, 0.1);
}

.connected-list .list-group {
  height: calc(100vh - 375px);
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.005);
  box-shadow: inset 0 0 .5rem rgba(0, 0, 0, 0.1);
}

.connected-list .connected-selected:empty:after {
  content: 'Drap and drop from the list of avaible items or click on the arrow to add them here';
  font-style: italic;
  padding: 1rem;
  text-align: center;
  display: flex;
  height: 100%;
  align-items: center;
}

.connected-list .list-group .list-group-item {
  padding: .3rem .75rem;
  transition: background-color .3s ease;
}

.connected-list .list-group .list-group-item.ui-sortable-handle {
  cursor: grab;
}

.connected-list .list-group .list-group-item.ui-sortable-handle:active {
  cursor: grabbing;
  box-shadow: 0 .25rem 1rem rgba(0, 0, 0, 0.2);
}

.connected-list .list-group .list-group-item.ui-sortable-handle:hover {
  background-color: var(--hover-bg);
}

.connected-list .connected-selected .list-group-item {
  background-color: #eafcea;
  color: green;
}

.btn-move {
  background-color: rgba(0, 0, 0, 0.05);
  border: none;
  height: 22px;
  width: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80%;
  border-radius: 50%;
  cursor: pointer;
}

.btn-move:hover, .btn-move:focus, .btn-move:active {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .25);
  color: white;
  background-color: var(--success);
  text-decoration: none;
}

.connected-selected .btn-move>i {
  transform: rotate(180deg);
}

.connected-selected .btn-move:hover, .connected-selected .btn-move:focus, .connected-selected .btn-move:active {
  background-color: var(--secondary);
}

@media (min-width:768px) {
  .btn-move {
    opacity: 0.1;
    transition: all .2s ease;
  }
  .list-group-item:hover .btn-move {
    opacity: 1;
  }
}