.table-y-scroll{
  max-height:calc(100vh - 350px);
  overflow-y:auto;
}

.table-no-border th {
  border-top: none;
  background-color: var(--light);
}

.table-no-border thead th{
  position:sticky;
  top:-20px;
  z-index:2
}

.table-no-border td {
  border-top: none;
}

.rw-format-bold td {
  font-weight: bold;
}

.rw-format-underline td {
  border-bottom: 1px solid #ccc;
}

.rw-format-underline-double td {
  border-bottom: 1px solid #ccc;
  position: relative;
}

.rw-format-underline-double td:before {
  content: '';
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: -4px;
  border-bottom: 1px solid #ccc;
}

.rw-format-box{
  border:1px solid #bbb;
}

.rw-format-percentage td:not(:first-child):after{
  content:'%';
  margin-left:.2rem;
}

.rw-format-multiple td:not(:first-child):after{
  content:'X';
  margin-left:.2rem;
}